@model ProjektC.Models.Adopcja

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytuj adopcję</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAdopcji" />
            <div class="form-group">
                <label asp-for="IdZwierzecia" class="control-label">Id Zwierzęcia</label>
                <select asp-for="IdZwierzecia" class="form-control" asp-items="ViewBag.IdZwierzecia"></select>
                <span asp-validation-for="IdZwierzecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUzytkownika" class="control-label">Id Właściciela</label>
                <select asp-for="IdUzytkownika" class="form-control" asp-items="ViewBag.IdUzytkownika"></select>
                <span asp-validation-for="IdUzytkownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPracownika" class="control-label">Id Pracownika</label>
                <select asp-for="IdPracownika" class="form-control" asp-items="ViewBag.IdPracownika"></select>
                <span asp-validation-for="IdPracownika" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="DataRozpoczeciaAdopcji" class="control-label">Data Rozpoczęcia Adopcji</label>
                <input asp-for="DataRozpoczeciaAdopcji" class="form-control" />
                <span asp-validation-for="DataRozpoczeciaAdopcji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataZakonczeniaAdopcji" class="control-label">Data Zakończenia Adopcji</label>
                <input asp-for="DataZakonczeniaAdopcji" class="form-control" />
                <span asp-validation-for="DataZakonczeniaAdopcji" class="text-danger"></span>
            </div>
            <h5></h5>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h5></h5>
<div>
    <a asp-action="Index" class="button-link">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
