@{
    ViewData["Title"] = "Home Page";
}

<div class="center-text">
<section id="home" class="hero">
    <div class="hero-content">
        <h1>Znajdź swojego nowego przyjaciela</h1>
        <p>Odkryj zwierzęta gotowe na adopcję i podaruj im dom pełen miłości.</p>
        <a href="Zwierze" class="button-link">Przeglądaj zwierzęta!</a>
        <a href="Uzytkowniks/Create" class="button-link">Zostań właścicielem!</a>
        <a href="Adopcjas" class="button-link">Sprawdź, które zwierzęta znalazły już dom!</a>
    </div>
</section>
</div>